/*Color Scheme: https://visme.co/blog/website-color-schemes/
    #16 - "Sleek and Futuristic"
*/

body {
    display: grid;
    grid-template-columns: 160px auto;
    margin: 0px;
    overflow: hidden;
}

.sidenav {
    margin-top: 0px;
    height: 100vh;
    width: 160px;
    background-color: #2C3531;
    overflow-x: hidden;
    padding-top: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nav-btn{
    font-family: Impact, Charcoal, sans-serif;
    font-weight: lighter;
    font-size: 26px;
    color: #D1E8E2;
    display: block;
    background-color: transparent;
    border-radius: 2px;
    border: #D1E8E2;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.nav-btn:hover {
    background-color: #116466;
    color: #2C3531;
}

.header-label {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 34px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-weight: lighter;
    background-color: #116466;
    margin: 0;
    padding: 30px;
}

.table-container {
    width: fit-content;
    max-height: 85vh;
    margin: 20px;
    display: block;
    overflow-y: scroll;
}

.trade-table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.trade-table td {
    padding: 6px 4px;
    font-size: 16px;
    color: #2C3531;
    text-align: left;
}

.trade-table tr:nth-child(even) {
    background: #EEEEEE;
}

.trade-table th {
    text-align: left;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2C3531;
}

.make-form{
    padding: 10px 10px;
    text-align: left;
    width:500px;
}

.make-cell{
    padding: 10px 10px;
    font-size: 20px;
    font-family: Impact, Charcoal, sans-serif;
}

.make-form input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    margin: 20px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.make-form input {
    width: 80%;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
  }

  .delete-btn {
    font-family: Impact, Charcoal, sans-serif;
    padding: 8px;
    font-size: 12px;
    background-color: #D1E8E2;
    color: #2C3531;
    border-radius: 4px;
    border-width: 1px;
    border-color: #2C3531;
  }

  .delete-btn:hover {
    background-color: #116466;
    color: black;
  }

  .graph-area{
    float:right;
    padding-top: 40px;
    width: 56%;
    top:50%;
    margin-right: 1000px 0;
  }

  .canvas-holder{
    margin: auto;
  }
